  #box-1 {
    @include heightEWidth(100vh, 100%);
    @include background-image("../img/i1.jpg");
    background-size: $fundo-cover;
    display: $display;
    background-attachment: $backgroundAttachment;
  }
  
  #box-2 {
    @include heightEWidth(100vh, 100%);
    @include background-image("../img/i2.jpg");
    background-size: $fundo-cover;
    display: $display;
    background-attachment: $backgroundAttachment;
  }
  
  #box-3 {
    @include heightEWidth(100vh, 100%);
    @include background-image("../img/i3.jpg");
    background-size: $fundo-cover;
    display: $display;
    background-attachment: $backgroundAttachment;
  }
  
  h1 {
    font-family: $fontes;
    font-size: $tamanho-fonte;
    color: $cor-primaria;
    @include margem(0);
    text-align: $alinhamento-texto;
    display: $display-table-cell;
    vertical-align: $alinhamento-vertical;
  }