$box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
$webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
$transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
$visible: visible;
$background-color: #e86256; 

$fontes: 'Roboto', 'arial black';
$cor-primaria: white;
$fundo-cover: cover;
$display: table;
$backgroundAttachment: fixed;